{
  "$schema": "https://raw.githubusercontent.com/streetsidesoftware/cspell/main/cspell.schema.json",
  "version": "0.2",
  "language": "en-US",
  "words": [
    "spellcheck",
    "Mojo",
    "plugin",
    "Maven"
  ],
  "ignoreWords": [
    "TODO",
    "FIXME"
  ],
  "ignorePaths": [
    "node_modules/**",
    "target/**",
    "*.min.js",
    "*.map"
  ],
  "files": [
    "**/*.java",
    "**/*.md",
    "**/*.txt"
  ],
  "dictionaries": [
    "java",
    "maven"
  ],
  "ignoreRegExpList": [
    "/\\b[A-Z]{2,}\\b/g",
    "/0x[0-9a-fA-F]+/g"
  ],
  "enabled": true,
  "allowCompoundWords": false,
  "caseSensitive": false
}
